# {{ ansible_managed }}

# bsd_cimage_loaderconf_data
{% for item in bsd_cimage_loaderconf_data %}
{{ item }}
{% endfor %}

# bsd_cimage_loaderconf_sysctl
{% for item in bsd_cimage_loaderconf_sysctl %}
{{ item }}
{% endfor %}

# bsd_cimage_loaderconf_modules
{% for item in bsd_cimage_loaderconf_modules %}
{{ item }}_load="YES"
{% endfor %}

# EOF
