# {{ ansible_managed }}
{% for gvar in cimage_wpasupconf_global %}
{{ gvar.key }}={{ gvar.value }}
{% endfor %}
{% for net in item.network %}

network={
{% for k,v in net.conf.items() %}
        {{ k }}={{ v }}
{% endfor %}
}
{% endfor %}

# EOF
